<div {{action 'logX'}}>
  <div {{action 'logY'}}
    class="case-demo__case-button"
  >Foo</div>
</div>

<div onclick={{action 'logX'}}>
  <div onclick={{action 'logY'}}
    class="case-demo__case-button"
  >Bar</div>
</div>

<div {{action 'logX'}}>
  <div onclick={{action 'logY'}}
    class="case-demo__case-button"
  >Baz</div>
</div>

<div onclick={{action 'logX'}}>
  <div {{action 'logY'}}
    class="case-demo__case-button"
  >Qux</div>
</div>